doctype html
html(lang="en")
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  head
    title= "Planning poker - director dashboard"
  body
    div(id="buttons")
      button(id="activate", type="button") New voting
    div(id="clientsQuantity")= clientsQuantity
    div(id="results") Results:
  script.
    var socket = io.connect();
    socket.on('clientsQuantityChange', function(data){
      $('#clientsQuantity').text(data.quantity);
    });
    socket.on('newVote', function(data){
      $('#results').append(" " + data.estimation);
    });
    $('#activate').click(function() {
      socket.emit('activate');
    });