doctype html
html(lang="en")
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  head
    title= "Planning poker - director dashboard"
  body
    div(id="buttons")
      button(id="activate", type="button") New voting
    div(id="results")
      We will display results here!
    div(id="clientsQuantity")= clientsQuantity
  script.
    var socket = io.connect();
    socket.on('clientsQuantityChange', function(data){
      $('#clientsQuantity').text(data.quantity);
    });
    $('#activate').click(function() {
        socket.emit('activate');
    });