doctype html
html(lang="en")
  head
    title= "Planning poker - director dashboard"
  body
    div(id="buttons")
      button(id="activate", type="button") New voting
    div(id="results")
      We will display results here!