doctype html
html(lang="en")
  script(src='http://code.jquery.com/jquery.js')
  script.
    $(document).ready(function() {
      $("#activate").click(function() {
        $.post('/activate');
      });
    });
  head
    title= "Planning poker - director dashboard"
  body
    div(id="buttons")
      button(id="activate", type="button") New voting
    div(id="results")
      We will display results here!