doctype html
html(lang="en")
  script
    include ../clients.js
  head
    title= "Planning poker - main page"
  body
    div
      a(href="/join") Join planning
    div
      a(href="/dashboard") Dashboard
