doctype html
html(lang="en")
  script
    include ../vote.js
  head
    title= "Planning poker - voting dashboard"
  body
    div(id="voting_pane", style="visibility:hidden")
      Voting buttons needs to be placed here.
    div(id="waiting_pane")
      You need to wait for next voting session being started.
